.general {
    display: grid;
    gap: 5em;
}
.general hr {
    border: 0.1em solid black;
    width: 200px;
    margin-bottom: 1em;
}
.general h2 {
    text-align: center;
}
.general img {
    width: 200px;
    height: 280px;
    border: 0.1em solid black;
    border-radius: 10px;
    margin-top: 0.7em;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}
.general img:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.8);
}
#imagenSobreNosotros {
    border: 0;
    border-radius: 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.general a {
    text-decoration: none;
    color: black;
}
.imagenPrincipal{
    display: flex;
    justify-content: center;
    margin-bottom: 6em;
}
#imagenPrincipal {
    border: 0;
    border-radius: 0;
    width: 1200px;
    height: 350px;
    scroll-margin-top: 5em;
}
#textoDejanosMensaje {
    scroll-margin-top: 15em;
}
#textoSobreNosotros {
    scroll-margin-top: 25em;
}
.textoTodasEdiciones {
    text-align: center;
}
#textoTodasEdiciones {
    scroll-margin-top: 10em;
}
.sobreNosotros,
.revistaTrayectos,
.primeraEdicion,
.ultimaEdicion,
.contactanos,
.dejanosMensaje {
    display: flex;
    justify-content: center;
    gap: 5em;
}
.informacionSobreNosotros,
.informacionRevistaTrayectos,
.informacionPrimeraEdicion,
.informacionTodasEdiciones,
.informacionUltimaEdicion,
.informacionContactanos,
.informacionDejanosMensaje {
    display: grid;
    justify-content: center;
}
.textoContactanos label {
    cursor: pointer;
}
.textoContactanos {
    display: grid;
    gap: 0.5em;
}
.redireccionUbicacion,
.redireccionCorreo,
.redireccionWhatsApp,
.redireccionTelefono { 
    display: flex;
    gap: 0.9em;
}
.campoTodasEdiciones {
    display: flex;
    justify-content: center;
    gap: 3em;
}
.campoTodasEdiciones i {
    margin-top: 5.3em;
    font-size: 30px;
}
.imagenesTodasEdiciones {
    display: flex;
    gap: 1.5em;
    margin: 2em auto;
}
#primeraRevista,
#quintaRevista {
    width: 140px;
    height: 190px;
    margin-top: 50px;
}
#segundaRevista,
#cuartaRevista {
    width: 165px;
    height: 235px;
    margin-top: 30px;
}

/** Titulos */

#tituloSobreNosotros,
#tituloRevistaTrayectos,
#tituloPrimeraEdicion,
#tituloTodasEdiciones,
#tituloUltimaEdicion,
#tituloContactanos,
#tituloDejanosMensaje {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

/** Sombreado de titulos */

#tituloSobreNosotros:hover,
#tituloRevistaTrayectos:hover,
#tituloPrimeraEdicion:hover,
#tituloTodasEdiciones:hover,
#tituloUltimaEdicion:hover,
#tituloContactanos:hover,
#tituloDejanosMensaje:hover {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

/** Textos */

.textoSobreNosotros,
.textoRevistaTrayectos,
.textoPrimeraEdicion,
.textoUltimaEdicion,
.textoDejanosMensaje {
    text-align: justify;
    width: 550px;
}

/** Sombreado de textos */

#textoRedireccionTelefono:hover,
#textoRedireccionWhatsApp:hover,
#textoRedireccionCorreo:hover,
#textoRedireccionUbicacion:hover {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

/** Botones */

.botonSobreNosotros,
.botonRevistaTrayectos,
.botonPrimeraEdicion,
.botonTodasEdiciones,
.botonUltimaEdicion,
.botonContactanos,
.botonDejanosMensaje {
    display: flex;
    justify-content: center;
}

/** Estilo de botones */

#botonSobreNosotros,
#botonRevistaTrayectos,
#botonPrimeraEdicion,
#botonTodasEdiciones,
#botonUltimaEdicion,
#botonContactanos,
#botonDejanosMensaje {
    padding: 0.7em 3em;
    border: 0.1em solid black;
    border-radius: 10px;
    background-color: transparent;
    margin-top: 1em;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

/** Sombreado botones */

#botonSobreNosotros:hover,
#botonRevistaTrayectos:hover,
#botonPrimeraEdicion:hover,
#botonTodasEdiciones:hover,
#botonUltimaEdicion:hover,
#botonContactanos:hover,
#botonDejanosMensaje:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

/** Iconos */

.iconoRedireccionTelefono,
.iconoRedireccionWhatsApp,
.iconoRedireccionCorreo,
.iconoRedireccionUbicacion {
    margin-top: 0.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/** Sombreado de Iconos */

.iconoRedireccionTelefono:hover,
.iconoRedireccionWhatsApp:hover,
.iconoRedireccionCorreo:hover,
.iconoRedireccionUbicacion:hover {
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.8);
}
#iconoRedireccionCorreo {
    scroll-margin-top: 25em;
}