.general {
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.primerFieldset {
    border: 0.1em solid black;
    border-radius: 10px;
    width: 520px;
    padding: 2em;
    margin-top: 5em;
}
.tituloFieldset h1 {
    text-align: center;
    margin-bottom: 2em;
}
#campoObligatorio {
    color: red;
}
.formulario {
    display: grid;
    gap: 1em;
}
.campoCorreo,
.campoCalificacion,
.campoComentario {
    display: grid;
    gap: 0.5em;
}
.tituloCorreo,
.tituloCalificacion,
.tituloComentario {
    display: flex;
    gap: 0.5em;
}
.correoIngresadoGeneral {
    display: flex;
    gap: 0.3em;
}
#comentarioIngresado {
    resize: none;
    width: 420px;
    height: 90px;
}
.inputCorreoGeneral,
.inputComentario {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5em;
    border: 0.1em solid black;
    border-radius: 10px;
    padding: 0.5em;
    width: 500px;
}
.inputComentario {
    margin-bottom: 1em;
}
.parteIzquierdaCalificacion {
    display: flex;
    gap: 1.5em;
}
.inputCalificacion {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.iconoCorreo,
.iconoComentario {
    margin-top: 0.3em;
    color: #8ca832;
}
.iconoCalificacion { 
    margin-left: 0.9em;
    margin-top: 0.4em;
    color: #8ca832;
}
.verificacionCorreo,
.verificacionComentario {
    margin-top: 0.25em;
}
.verificacionCalificacion {
    margin-top: 0.30em;
    margin-left: 3em;
}
#verificacionCorreo,
#verificacionCalificacion,
#verificacionComentario {
    font-size: 20px;
    color: lightgray;
}
#verificacionCalificacion {
    margin-right: 0.95em;
}
#correoIngresadoGeneral,
#comentarioIngresado {
    border: 0;
}
#seleccionCorreo,
#seleccionTerminacion {
    height: 29px;
    border: 0;
}
#correoIngresadoGeneral:focus,
#seleccionCorreo:focus,
#seleccionTerminacion:focus,
#comentarioIngresado:focus {
    border: 0;
    outline: none;
}
#primeraEstrellaCalificacion,
#segundaEstrellaCalificacion,
#terceraEstrellaCalificacion,
#cuartaEstrellaCalificacion,
#quintaEstrellaCalificacion {
    font-size: 20px;
    color: lightgray;
}
.estrellasCalificacion {
    margin-top: 0.2em;
}
.opcionesBotones {
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
}
.enviarFormulario,
.limpiarTodo {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
#enviarFormulario {
    padding: 1em 0;
    width: 300px;
    border: 0.1em solid black;
    border-radius: 10px;
    background-color: #cad26f;
}
#botonLimpiarTodo {
    padding: 1em 0;
    width: 200px;
    border: 0.1em solid black;
    border-radius: 10px;
    background-color: #cad26f;
}
.pieComentario {
    display: flex;
    justify-content: space-between;
}
.limpiarCalificacion {
    margin-top: 0.10em;
}
.opcionesComentarios,
.limpiarTextArea {
    display: flex;
    gap: 0.7em;
}
#limpiarCalificacion {
    background-color: #cad26f;
    border: 0.1em solid black;
    border-radius: 10px;
    padding: 0.35em 1.5em;
}
#limpiarTextArea {
    background-color: #cad26f;
    border: 0.1em solid black;
    border-radius: 10px;
    padding: 0.35em 1em;
}
.contadorPalabras,
.comentarioTextArea {
    margin-top: 0.3em;
}
.barraProgreso {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}
.barrasProgreso {
    display: flex;
    gap: 0.5em;
    margin-top: 0.1em;
}
.barrasProgreso button {
    width: 40px;
    height: 15px;
    border: 0.1em solid black;
    border-radius: 10px;
}

/** Sombreado */

#tituloFieldset,
#labelCorreo,
#labelCalificacion,
#labelComentario,
#labelBarraProgreso {
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.inputCorreoGeneral,
.inputComentario {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);;
}
#limpiarCalificacion,
#limpiarTextArea,
#enviarFormulario,
#botonLimpiarTodo {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);;
}

/** Sombreado al clickear */

#tituloFieldset:hover,
#labelCorreo:hover,
#labelCalificacion:hover,
#labelComentario:hover,
#labelBarraProgreso:hover {
    cursor: pointer;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}
.inputCorreoGeneral:hover,
.inputComentario:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
}
#limpiarCalificacion:hover,
#limpiarTextArea:hover,
#enviarFormulario:hover,
#botonLimpiarTodo:hover {
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.7);
}