/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-chubby/css/uicons-solid-chubby.css'); /* Icono Correo */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css'); /* Icono Lupa */
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');

/* Main */

html, body {
    font-family: "Merriweather", serif;
    width: 100%;
    margin: 0 0;
}

/* Header */

.headerInicial {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background-color: #8ca832;
}
.subHeader {
    display: flex;
    justify-content: center;
    padding: 1.5em;
    background-color: #cad26f;
    gap: 2.5em;
    font-size: 18px;
}
.headerInicial img {
    width: 40px;
    height: 40px;
}
.headerInicial a,
.subHeader a {
    text-decoration: none;
    color: black;
}
.tituloHeader {
    display: flex;
    justify-content: center;
    gap: 0.4em;
    font-size: 30px;
}
.iconosHeader { 
    display: flex;
    justify-content: center;
    gap: 1.5em;
}
.buscadorLupa {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em;
    border: 0.1em solid black;
    background-color: #cad26f;
    border-radius: 10px;
}
#textoBuscador { 
    border: 0;
    background-color: transparent;
    color: black;
}
#textoBuscador:focus {
    outline: none;
    border: 0;
}
.iconoLupa {
    margin-top: 0.3em;
}
.iconoUsuarioHeader,
.iconoCorazonHeader,
.iconoBurgerHeader {
    margin-top: 0.45em;
}
#iconoUsuarioHeader,
#iconoCorazonHeader,
#iconoBurgerHeader {
    font-size: 25px;
}

/* General */

.general {
    margin-top: 5em;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 2em;
}
.primerFieldset {
    display: grid;
    gap: 2em;
    border: 0.1em solid black;
    border-radius: 10px;
    width: 870px;
    padding: 2em;
}
.redesSociales {
    display: flex;
    justify-content: center;
    gap: 2em;
}
.redesSociales i { 
    font-size: 40px;
}
.textoInformacion,
.textoInformacionRedesSociales,
.textoSuscripcionCorreos {
    display: flex;
    justify-content: center;
}
#textoInformacion,
#textoInformacionRedesSociales,
#textoSuscripcionCorreos {
    width: 700px;
    text-align: center;
    font-size: 15px;
}
.textoInformacionRedesSociales {
    margin-bottom: 2em;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
    margin: 1em auto;
    margin-bottom: 0;
}
h2 {
    text-align: center;
}
.informacionTrayectos {
    display: flex;
    justify-content: center;
    gap: 4em;
}
.redireccionesDatos {
    display: grid;
    gap: 2em;
    margin-top: 3.5em;
    margin-left: 1em;
    font-size: 18px;
}
.redireccionTelefono,
.redireccionWhatsApp,
.redireccionCorreo,
.redireccionUbicacion {
    display: flex;
}
#iconoTelefonoTrayectos,
#iconoWhatsAppTrayectos,
#iconoCorreoTrayectos,
#iconoUbicacionTrayectos {
    font-size: 22px;
    margin-right: 0.5em;
    color: #8ca832;
}
.textoDatosTrayectos,
.textoUbicacionMapa {
    text-align: center;
}
#mapa {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    border: 0;
}
#campoObligatorio {
    color: red;
}
.correoElectronicoAgregado,
.selectCorreoElectronico,
.selectTerminacionCorreo {
    display: flex;
    gap: 0.5em;
}
.inputCorreoElectronico {
    display: flex;
    justify-content: space-between;
    border: 0.1em solid black;
    border-radius: 10px;
    padding: 0.5em;
    width: 635px;
}
.inputCorreoElectronico input{
    width: 280px;
    height: 22px;
    margin-top: 0.2em;
}
#iconoCorreoElectronico {
    font-size: 20px;
    margin-top: 0.20em;
    margin-left: 0.2em;
}
#verificacionCorreoElectronico {
    font-size: 20px;
    margin-top: 0.20em;
    margin-right: 0.2em;
    color: lightgray;
}
.selectCorreoElectronico label,
.selectTerminacionCorreo label {
    font-size: 20px;
    margin-top: 0.2em;
}
.inputCorreoElectronico input,
.selectCorreoElectronico select,
.selectTerminacionCorreo select {
    border: 0;
}
.inputCorreoElectronico input:focus,
.selectCorreoElectronico select:focus,
.selectTerminacionCorreo select:focus {
    border: 0;
    outline: none;
}
.campoCorreoElectronico {
    display: grid;
    justify-content: center;
    gap: 1em; 
    margin-top: 2em;
    text-align: center;
}
#registrarCorreo {
    padding: 1em;
    width: 250px;
    border: 0.1em solid black;
    border-radius: 10px;
    background-color: #cad26f;
    margin-top: 0.5em;
}

/* Footer */

.mainFooter {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 2.5em;
    background-color: #b17b53;
    border-top: 0.1em solid black;
    margin-top: 5em;
}
.mainFooter a {
    text-decoration: none;
    color: black;
}
.mainFooter hr {
    border: 0.1em solid black;
    margin-bottom: 1em;
}
.mainFooter label {
    font-size: 17px;
}
.secondaryFooter {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    background-color: #8a5e3e;
    border-top: 0.1em solid black;
}
.iconosEncuentranosEn i {
    font-size: 30px;
}
.iconosEncuentranosEn { 
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    gap: 1.5em;
}
.redirrecionesNumero,
.redirrecionesCorreo,
.redirrecionesUbicacion,
.redireccionHistoria,
.redireccionMisionVision,
.redireccionObjetivo,
.redireccionValores,
.redireccionTodasEdiciones,
.redireccionPolitica,
.redireccionPrivacidad,
.redireccionCondiciones,
.redireccionUltimaEdicion,
.redireccionPrimeraEdicion,
.redirrecionesNombre {
    display: flex;
    gap: 0.5em;
}
.redireccionesLegal,
.redereccionesSobreNosotros,
.redireccionesRevistaTrayectos,
.redireccionesNuestrasEdiciones {
    display: grid;
    gap: 0.8em;
}
.inputDejanosCorreo {
    border: 0.1em solid black;
    border-radius: 10px;
    padding: 0.5em;
    background-color: #8a5e3e;
}
#correoIngresado {
    width: 210px;
    border: 0;
    background-color: transparent;
    color: white;
}
.inputCorreo {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}
#correoIngresado:focus {
    border: 0;
    outline: none;
}
#enviarCorreoBoton {
    border: 0.1em solid black;
    border-radius: 10px;
    padding: 0.7em;
    background-color: #8a5e3e;
    color: white;
}