hr {
    width: 250px;
}
.general {
    display: grid;
    justify-content: center;
    margin: 6em auto;
    gap: 5em;
}
.sobreNosotros,
.misionVision,
.valoresTrayectos,
.historiaTrayectos,
.objetivosTrayectos {
    display: grid;
    justify-content: center;
    border: 0.1em solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    width: 1000px;
}
.misionVision {
    display: flex;
    gap: 2em;
}
.descripcionSobreNosotros,
.descripcionValores,
.descripcionHistoria,
.descripcionObjetivos,
.descripcionVision,
.descripcionMision {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin: auto auto;
    width: 850px;
    margin-bottom: 3em;
}
.descripcionValores,
.descripcionObjetivos {
    margin-bottom: 0;
}
.descripcionVision,
.descripcionMision {
    width: 410px;
}
.tituloSobreNosotros,
.tituloVision,
.tituloMision,
.tituloValores,
.tituloHistoria,
.tituloObjetivos {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.listaValores,
.listaObjetivos {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 3em;
    gap: 8em;
}

/** Redirecciones Scroll */

#descripcionHistoria {
    scroll-margin-top: 25em;
}
#descripcionMision,
#descripcionObjetivos,
#descripcionValores {
    scroll-margin-top: 20em;
}

/** Sombreado */

#tituloSobreNosotros,
#tituloMision,
#tituloVision,
#tituloValores,
#tituloHistoria,
#tituloObjetivos {
    cursor: pointer;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

/** Sombreado al seleccionar */

#tituloSobreNosotros:hover,
#tituloMision:hover,
#tituloVision:hover,
#tituloValores:hover,
#tituloHistoria:hover,
#tituloObjetivos:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}